@model Blog.Models.AnchorModel

@{ 
    var routeData = new Dictionary<string, string>();
    routeData.Add(Model.RouteIdParameterName, Model.RouteId?.ToString());
}

@if (Model.IsShown)
{

    <span>| <a asp-page="@Model.Page" asp-all-route-data=routeData>@Model.Text</a></span>
}