@model CommentaryEditinigModel

<form asp-controller="Commentary" asp-action="UpdateCommentaryAsync" class="form" method="post" style="margin-bottom:20px">
    <input type="hidden" asp-for="CommentaryId"/>

    <h4>
        <a asp-page="/Commentary" asp-route-id="@Model.CommentaryId">#@Model.CommentaryId</a>
        <a asp-page="/Account/Profile" asp-route-id="@Model.AuthorId">@Model.Author</a>
        <button style="display:none;" id="save-@Model.CommentaryId" type="submit" class="commentary-edit-save-button">Save</button>
        <button style="display:none;" id="cancel-@Model.CommentaryId" type="button" class="commentary-edit-exit-button">Cancel</button>
        <span>| <a onclick="$('#save-@Model.CommentaryId').trigger('click')" class="no-redirect operation-primary" href="#">Save</a></span>
        <span>| <a onclick="$('#cancel-@Model.CommentaryId').trigger('click')" class="no-redirect" href="#">Cancel</a></span>
    </h4>

    <div class="d-flex flex-row">
        <div class="d-flex w-100 flex-column">
            <div class="form-group">
                <label>New commentary body</label>
                <textarea class="form-control" asp-for="Body"></textarea>
                <span class="text-danger" asp-validation-for="Body"></span>
            </div>

            <div class="form-group">
                <label>Edit reason</label>
                <input class="form-control" type="text" asp-for="Reason" placeholder="Edit reason" />
                <span class="text-danger" asp-validation-for="Reason"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
</form>