@model Commentary

<h4>
    <a asp-page="/Account/Profile" asp-route-id="@Model.Author.Id">@Model.Author.UserName</a> - @Model.Date.ToString("hh:mm dd.MM.yyyy")
    <button class="commentary-edit-button">Edit</button>
</h4>
@await Html.PartialAsync("_ProfileImage", Model.Author)
@Model.Body