@model MessageModel

<div class="container-fluid" style="margin:10px 0 10px 0">
    <div class="d-flex flex-sm-row">
        <div class="d-flex flex-sm-column flex-grow-1">
            <span>@Model.Text</span>
        </div>
        @foreach (var jsAction in Model.JSActions)
        {
            <div class="d-flex flex-sm-column">
                <a href="" style="margin-right:10px" class="no-redirect" onclick="@jsAction.FunctionName">@jsAction.Name</a>
            </div>
        }
        <div class="d-flex flex-sm-column">
            <a href="" class="no-redirect" onclick="removeParent(this)">Close</a>
        </div>
    </div>
</div>
