@model ObjectReferenceModel

@if (Model.Object is Commentary commentary)
{
    <a asp-page="/Commentary" asp-route-id="@commentary.Id">commentary</a>
}
else if (Model.Object is Post post)
{
    <a asp-page="/Post" asp-route-id="@post.Id">post</a>
}
else if (Model.Object is User user)
{
    <a asp-page="/Account/Profile" asp-route-id="@user.Id">user</a>
}
else if (Model.Object is Profile profile)
{
    <span>profile</span>
}