@model PostViewModel

<div class="mce-content-body text-justify">
    @if (Model.PreviewVersion)
    {
        @Html.Raw(Model.Post.BodyPreview);
    }
    else
    {
        @Html.Raw(Model.Post.Body);
    }
</div>