@model string

@{
    var tableId = "users-table";
}

<div class="widget" widget-loader="@Partials.USERS_TABLE">
    <table id="@tableId" class="table table-striped table-bordered mt-3" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th">
                    User
                </th>
                <th class="th">
                    Reg date
                </th>
                <th class="th">
                    Role
                </th>
                <th class="th">
                    State
                </th>
                <th class="th">
                    Actions
                </th>
                <th class="th">
                    Publications
                </th>
                <th class="th">
                    Repors
                </th>
            </tr>
        </thead>
    </table>
</div>

<script>
    function @Partials.USERS_TABLE () {
        var table = $('#@tableId').DataTable({
            ajax: {
                url: '@Model',
                dataSrc: '',
                cache: true
            },
            columns: [
                {
                    data: 'name',
                    "render": function (data, type, row, meta) {
                        var idAndName = data.split("|");
                        return '<a href="/Account/Profile?id=' + idAndName[0] + '">' + idAndName[1] + '</a>';
                    }
                },
                {
                    data: 'regTime',
                    "render": function (data, type, row, meta) {
                        return getDateFromTimestamp(data);
                    }
                },
                { data: 'role' },
                { data: 'state' },
                { data: 'actCnt' },
                { data: 'pubCnt' },
                {
                    data: 'repPPub',
                    "render": function (data, type, row, meta) {
                        return round(data, 3);
                    }
                },
            ],
        });
    }
</script>
