@{
    var tableId = "posts-table";
}

<table id="@tableId" class="table table-striped table-bordered mt-3" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th">
                Post ID
            </th>
            <th class="th">
                Author
            </th>
            <th class="th">
                Views
            </th>
            <th class="th">
                Commentaries
            </th>
            <th class="th">
                Reports per view
            </th>
        </tr>
    </thead>
</table>

<script>
    function loadPostsTabPartial() {
        var table = $('#@tableId').DataTable({
            ajax: {
                url: 'AdminPanelTabs/LoadFullPostsTableAsync',
                dataSrc: ''
            },
            columns: [
                { data: 'postId' },
                { data: 'author' },
                { data: 'viewsCnt' },
                { data: 'comCnt' },
                { data: 'repPView' }
            ]
        });
    }
</script>