@page
@model Blog.Pages.Account.BanConfirmationModel
@{
    ViewData["Title"] = "Ban confirmation";
}

<h2>Ban confirmation</h2>

<form method="post" asp-page-handler="Ban">
    <input type="hidden" asp-for="UserId"/>

    <div class="form-group">
        <span>Duration: </span>
        <input asp-for="BannedTill" />
        <span asp-validation-for="BannedTill"></span>
    </div>
    <div class="form-group">
        <span>Reason: </span>
        <input asp-for="Reason" />
        <span asp-validation-for="Reason"></span>
    </div>

    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Apply</button>
    </div>
</form>