@page
@model Blog.Pages.Account.EmailChangeModel
@{
    ViewData["Title"] = "Email change";
}

<div class="form-sm">
    <form method="post" class="container">

        <h2>Email change</h2>

        <div class="form-group">
            <label>Password</label>
            <input class="form-control" asp-for="Password" />
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label>New E-Mail</label>
            <input class="form-control" asp-for="NewEMail" />
            <span class="text-danger" asp-validation-for="NewEMail"></span>
        </div>

        <div asp-validation-summary="ModelOnly"></div>

        <button type="submit" class="btn btn-primary">Send confirmation</button>
    </form>
</div>