@page
@model Blog.Pages.Account.PasswordRestoreModel
@{
    ViewData["Title"] = "Password reset";
}

<h2>Password reset</h2>

<span>Enter your profile name and we will send you new password on your E-Mail provided during registration</span>

<form method="post">
    <div>
        <span>Profile name: </span>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>
        <button type="submit">Send new password</button>
    </div>
</form>


