@page
@model Blog.Pages.Account.ProfileEditModel

<div class="form-sm">
    <form method="post" class="container" enctype="multipart/form-data">
        <input type="hidden" asp-for="EditUserId" value="@Model.EditUserId" />

        <h2>Profile edit</h2>

        <div class="form-group">
            <label>Profile image</label>
            <input type="file" class="form-control-file" asp-for="ProfileImage" accept="image/x-png,image/jpeg"/>
            <span class="text-danger" asp-validation-for="ProfileImage"></span>
        </div>
        <div class="form-group">
            <label>About</label>
            <textarea rows="3" class="form-control" asp-for="About" placeholder="Information about you">@Model.About</textarea>
            <span class="text-danger" asp-validation-for="About"></span>
        </div>

        <div asp-validation-summary="ModelOnly"></div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>