@page
@model Blog.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="form-sm">
    <form method="post">
        <h2>Registration</h2>

        <input type="hidden" asp-for="@Model.RegistrationRole" value="@Model.RegistrationRole"/>

        @if (Model.RegistrationRole != Roles.USER)
        {
            <span>You will be registered as @Model.RegistrationRole</span>
        }

        <div class="form-group">
            <label>User name</label>
            <input class="form-control" asp-for="Username" />
            <span class="text-danger" asp-validation-for="Username"></span>
        </div>

        <div class="form-group">
            <label>E-Mail</label>
            <input class="form-control" asp-for="EMail" />
            <span class="text-danger" asp-validation-for="EMail"></span>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input class="form-control" asp-for="Password" />
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>

        <div class="form-group">
            <label>Confirm password</label>
            <input class="form-control" asp-for="ConfirmPassword" />
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </form>
</div>