@page
@model Blog.Pages.CommentaryModel
@{
    ViewData["Title"] = "Commentary";
}
<div class="container container-main">
    <div class="row">
        <div class="col">
            @{ await Html.RenderPartialAsync("_CommentaryContainer", Model.Commentary); }

            @if (await Model.Permissions.CanSeeServiceInformationAsync())
            {
                <hr />

                <h4>Info</h4>
                var parameters = new Dictionary<string, object>()
                {
                    { "Id", Model.Commentary.Id },
                    { "Registred users views", Model.Commentary.ViewStatistic.RegisteredUserViews },
                    { "Total views", Model.Commentary.ViewStatistic.TotalViews },
                    { "Number of reports", Model.Commentary.Reports.Count() },
                };

                foreach (var parameter in parameters)
                {
                    <div>@parameter.Key: @parameter.Value</div>
                }
            }
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_CommentartyScripts" />
}