@page
@model Blog.Pages.MarkAsNotPassedModerationModel

<div class="form-sm">
    <form method="post">
        <input type="hidden" asp-for="PostId" value="@Model.PostId" />

        <h2>Moderation</h2>

        <div class="form-group">
            <label>Post will be marked as not moderated</label>
            <textarea asp-for="Reason" class="form-control" placeholder="What was wrong?"></textarea>
            <span asp-validation-for="Reason" class="text-danger"></span>
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <button class="btn btn-primary" type="submit">Mark as not moderated</button>
    </form>
</div>
