@page
@model Blog.Pages.PostCreateModel
@{
    ViewData["Title"] = "PostCreate";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>PostCreate</h2>

<form method="post" asp-page-handler="Create">
    <input type="hidden" asp-for="IsEditMode" value="@Model.IsEditMode"/>
    <input type="hidden" asp-for="EditingPostId" value="@Model.EditingPostId"/>
    <div>
        <input type="text" asp-for="Title" placeholder="Title" />
    </div>
    <div>
        <textarea rows="10" asp-for="Body" placeholder="Your post"></textarea>
    </div>
    <div>
        <button type="submit">@Model.IsEditMode.Ternar("Update", "Create")</button>
    </div>
</form>