@page
@model Blog.Pages.PostCreateModel
@{
    ViewData["Title"] = "Post create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container container-main">
    <div class="row">
        <div class="col">
            <form method="post">
                <h2>Post create</h2>

                <div class="form-group">
                    <label>Title</label>
                    <input class="form-control" asp-for="Title" />
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>

                <div class="form-group">
                    <label>Post body</label>
                    <textarea class="form-control rich-edit" asp-for="Body"></textarea>
                    <span class="text-danger" asp-validation-for="Body"></span>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <div exclude-if="await Model.Permissions.CanCreateOrEditPostsWithoutModerationAsync()" class="mb-3">The post will be checked by moderator and published if no problems are found</div>
                    <button class="btn btn-primary" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>