@page
@model Blog.Pages.PostCreateModel
@{
    ViewData["Title"] = "Post create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Post create</h2>

<form method="post">
    <input type="hidden" asp-for="PostId" value="@Model.PostId" />

    <div>
        <input type="text" asp-for="Title" placeholder="Title" />
        <span asp-validation-for="Title"></span>
    </div>

    <div>
        <textarea rows="10" asp-for="Body" placeholder="Your post"></textarea>
        <span asp-validation-for="Body"></span>
    </div>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>
        <button type="submit">Create</button>
    </div>
</form>