@page "{id:int}"
@model Blog.Pages.PostModel

@{
    ViewData["Title"] = Model.Post.Title;
}

<h2>@Model.Post.Title</h2>

@Model.Post.Body

<hr />
<h3>Commentaries:</h3>

@foreach (var commentary in Model.Commentaries)
{
    @await Html.PartialAsync("_Commentary", commentary);
}

@if (User.Identity.IsAuthenticated)
{
    <form method="post" asp-page-handler="AddCommentary">
        <input type="hidden" name="postId" value="@Model.Post.Id"/>
        <textarea name="commentBody" rows="3" placeholder="Your comment"></textarea>
        <button type="submit">Send</button>
    </form>
}
else
{
    <a asp-page="/Account/Login">Login</a>
    <span> or </span>
    <a asp-page="/Account/Register">register</a>
    <span> to comment</span>
}