@page
@model Blog.Pages.ViolationReportModel
@{ 
    ViewBag.Title = "Violation report";
}

<div class="form-sm">
    <form method="post">
        <input type="hidden" asp-for="CommentaryReportObjectId" />
        <input type="hidden" asp-for="PostReportObjectId" />
        <input type="hidden" asp-for="ProfileReportObjectId" />

        <h2>Violation report</h2>

        <div class="form-group">
            <label>Violation description</label>
            <textarea rows="3" class="form-control" asp-for="Description" placeholder="What was wrong?"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <button class="btn btn-primary" type="submit">Report</button>
    </form>
</div>