@page
@model Blog.Pages.Errors.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Something went wrong :(</h2>

            <span>Error code: @Model.HttpStatus @((System.Net.HttpStatusCode)Model.HttpStatus)</span>
        </div>
    </div>
</div>
