@page
@model Blog.PasswordResetErrorModel

<div class="form-sm text-justify">
    <h2 class="text-danger">Error :(</h2>

    <p>Sorry, but we could not reset password right now. The problem may be caused by the following circumstances:</p>
    <ul>
        <li>You have already reset your password recently</li>
        <li>Profile is not exist</li>
        <li>Profile's e-mail is not confirmed</li>
        <li>Profile is banned</li>
    </ul>
    <p class="mt-2">
        If none of following is true, feel free to contact one of our moderators by the email below:
        <span class="text-primary mt-1">@Model.ContactEmail</span>
    </p>
</div>
