@{
    var tableId = "actions-table";
}

<table id="@tableId" class="table table-striped table-bordered mt-3" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th">
                Action
            </th>
            <th class="th">
                Date
            </th>
            <th class="th">
                Target
            </th>
        </tr>
    </thead>
</table>

<script>
    function loadUsersTabPartial() {
        var table = $('#@tableId').DataTable({
            ajax: {
                url: '/PanelsTable/LoadFullUsersTableAsync',
                dataSrc: ''
            },
            columns: [
                { data: 'action' },
                { data: 'date' },
                { data: 'target' },
            ]
        });
    }
</script>