/*body {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}*/

textarea {
    width: 100%
}

span.comment-hidden {
   color: darkgray
}

span.comment-deleted {
    color: darkgray;
    font-style: italic;
}

.template {
    visibility: collapse;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.00);
    border: none;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}

.line-breaks {
    white-space: pre-line;
}

.post-preview {
    margin: 0 0 25px 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #3a3a3a;
}
nav .navbar-light {
    background: #3a3a3a;
}

footer {
    margin: 0 15px 0 15px
}

.mce-content-body table {
    border-collapse: collapse
}

    .mce-content-body table td,
    table th {
        border: 1px solid #ccc;
        padding: .4rem
    }

.mce-content-body figure {
    display: table;
    margin: 1rem auto
}

    .mce-content-body figure figcaption {
        color: #999;
        display: block;
        margin-top: .25rem;
        text-align: center
    }

.mce-content-body hr {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0 0 0
}

.mce-content-body code {
    background-color: #e8e8e8;
    border-radius: 3px;
    padding: .1rem .2rem
}

.mce-content-body:not([dir=rtl]) blockquote {
    border-left: 2px solid #ccc;
    margin-left: 1.5rem;
    padding-left: 1rem
}

.mce-content-body[dir=rtl] blockquote {
    border-right: 2px solid #ccc;
    margin-right: 1.5rem;
    padding-right: 1rem
}